<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<h3>Enrolled in Courses:</h3>
<ul>
<% @student.courses.each do |course| %>
  <li><%= link_to course.name, course %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
